<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img src="" style="max-height:50px;">
        <h1 style="padding: 10px;">Countries</h1>
        <!-- <button mat-icon-button>
            <mat-icon (click)="emitToggleLeftSideBar()">menu</mat-icon>
        </button> -->
        <span class="menu-spacer"></span>
        <span class="menu-spacer"></span>
        <span class="menu-spacer"></span>
        <div>
            <!-- <portal-topnav></portal-topnav> -->
        </div>
        <span class="right-spacer"></span>
        <div>
            <!-- <portal-toprightnav></portal-toprightnav> -->
        </div>
    </mat-toolbar-row>
</mat-toolbar>